<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayuan.dao.GoodsStoreMapper">



	<select id="selectGoodsStoreById" resultType="goodsStore">
		select
		id,
		goods_id
		goods_store
		from
		t_goods_store where goods_id=#{goodsId}
	</select>

	<update id="updateByPrimaryKeySelective">
		update t_goods_store
		<set>
			<if test="goodId != null">
				good_id = #{goodId,jdbcType=BIGINT},
			</if>
			<if test="storeNum != null">
				goods_store = #{goodsStore,jdbcType=INTEGER},
			</if>
		</set>
		where
		id=#{id}
	</update>

	<select id="selectByPrimaryKeyAndLock">
		select
		id,
		goods_id
		goods_store
		from
		t_goods_store where id=#{id} for update
	</select>

</mapper>